body {
  font-family: "Roboto" !important;
  margin: 0px;
}

/* SideNav style */

.sidenav {
  top: 0;
  margin-top: 0px;
  height: 100%;
  width: 0px;
  display: block;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  border-style: none;
  background-color: lightgray;
}

.sidenav a {
  padding: 4px 4px 4px 4px;
  text-decoration: none;
  color: black;
  display: block;
}

.sidenav a:hover {
  background-color: black;
  color: white;
}

.main {
  margin: 0px;
}

.main-content {
  margin: 0.5em 0;
}

@media screen and (min-width: 600px) {
  .sidenav {
    width: 200px;
  }
  .main {
    margin-left: 200px;
  }
}

/* TopNav style */

.topnav {
  margin-top: 0px;
  margin-bottom: 2px;
  padding: 0px;
  overflow: hidden;
  background-color: black;
}



@media screen and (max-width: 400px) {
}
